body {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  background-image: url("../images/background.gif");
}

body h1 {
  font-weight: bold;
}

li {
  display: inline;
}

img {
	max-width: 80%;
}

.redColor {
  color:
}

.centeringSelector {
  text-align: center;
}
